version: "3.9"

services:
  db:
    image: postgres:18.1-alpine3.23
    container_name: postgres18
    ports:
      - "${DB_PORT}:5432"
    environment:
      POSTGRES_USER: "${DB_USER}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
      POSTGRES_DB: "${DB_NAME}"

    env_file:
      - .env

    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: